# OSX Files
.DS_Store

# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/
*.Rproj

# Ignore all our data files so they don't get committed.
data/
img/
R_notebooks/*.html
